@page "/"

<div>
    <AuthorizeView>
        <Authorized>
            <h1>Welcome back to the Securing GraphQL with Azure AD B2C Demo!</h1>
        </Authorized>
        <NotAuthorized>
            <h1>Welcome to the Securing GraphQL with Azure AD B2C Demo!</h1>
        </NotAuthorized>
    </AuthorizeView>
    <p>
        This app represents a demonstration of managing a set of Star Wars&trade; characters using
        a GraphQL API, and secured with Azure AD B2C.  Please see <a href="https://www.virtual-olympus.com/2021/08/securing-graphql-azureadb2c-1">this blog post</a> for
        additional details.  Enjoy!
    </p>
</div>
